/* 20160719 0902 */
/* 
 * www.ibm.com master CSS file
 * Copyright (c) 2011 IBM Corporation
 * Owner: Corporate Webmaster (NUS_N_NIWWW)
 */
@import url("/common/v17/css/www_2.css");@import url("/common/v17/css/www_1.css");
@media screen{
#ibm-print-masthead,#ibm-content-main p.ibm-terms{display:none !important}
}
@media print{
#ibm-content a,#ibm-content-main a{opacity:1 !important}.ibm-mobile{display:none !important}#ibm-print-masthead{display:block !important;clear:both !important;position:absolute !important;top:0px !important}
#ibm-masthead{border:0px none !important}.ibm-home-page #ibm-leadspace-head .ibm-ribbon-section .ibm-columns .ibm-col-1-1,#ibm-content,#ibm-content-main,#ibm-pcon,#ibm-leadspace-head #ibm-leadspace-body{float:none;clear:both;width:100%;padding:0px;margin:0px}
#ibm-top{float:none;clear:both;width:100%;padding:40px 0 0 0;margin:0px;font-size:1.125em}#ibm-content-sidebar{float:none;clear:both;width:30%;padding:0px;margin:0px}.ibm-columns .ibm-col-6-4,.ibm-columns .ibm-col-6-2{font-size:1.05em}
#ibm-content-nav{margin-top:0px}.ibm-twisty-body,.ibm-hideable,.ibm-container.ibm-show-hide .ibm-container-body{display:block !important;height:auto !important}.ibm-two-column .ibm-column.ibm-first,.ibm-two-column .ibm-column.ibm-second{width:48% !important}
.ibm-columns .ibm-col-2-1{width:47.5% !important}#ibm-content-nav #ibm-primary-tabs{background:none;border-bottom:1px solid #000000}.ibm-landing-page #ibm-leadspace-head{background:none;border-bottom:none}
#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs a{background:none}#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li{border-left:none;border-right:none;border-top:none}#ibm-content-nav #ibm-primary-tabs ul.ibm-tabs li.ibm-active{border-left:1px solid #000000;border-right:1px solid #000000;border-top:1px solid #000000}
.ibm-three-column .ibm-column.ibm-first,.ibm-three-column .ibm-column.ibm-second,.ibm-three-column .ibm-column.ibm-third{width:31.5% !important}table.ibm-data-table caption,table.ibm-results-table caption{border-top:2px solid #333}
#ibm-related-content{margin-top:20px !important;border-top:2px solid #333}table.ibm-data-table td,table.ibm-data-table th{border-top:1px solid #EEE}#ibm-lead-2,#ibm-lead-3,.ibm-ribbon-nav,#ibm-mast-options,
#ibm-universal-nav,#ibm-navigation,#ibm-common-menu,#ibm-social-tools,#ibm-page-tools-inner,#ibm-footer-module,#ibm-footer,.ibm-no-print{display:none !important}#ibm-leadspace-body #ibm-navigation-trail li a{display:block !important;color:#000000 !important;opacity:1 !important}
html,body{background:#ffffff !important}#ibm-content .ibm-columns{overflow:visible}.v17 .dijitCheckBoxInput{opacity:1}.dj_ie .v17 .dijitCheckBoxInput{filter:alpha(opacity=100)}.v17 .dijitCheckBox,.v17 .dijitCheckBoxIcon,
.v17 .dijitCheckBox,.v17 .dijitCheckBoxIcon,.v17 .dijitRadio,.v17 .dijitRadioIcon{background-image:none}.v17 #ibm-content input.ibm-disabled,.v17 #ibm-content input.ibm-disabled:hover,.v17 #ibm-content input.ibm-disabled:focus,
.v17 #ibm-content input.ibm-disabled:active,.v17 #ibm-content input[disabled],.v17 #ibm-content input[disabled]:hover,.v17 #ibm-content input[disabled]:focus,.v17 #ibm-content input[disabled]:active,.v17 #ibm-content input[disabled="disabled"],
.v17 #ibm-content input[disabled="disabled"]:hover,.v17 #ibm-content input[disabled="disabled"]:focus,.v17 #ibm-content input[disabled="disabled"]:active,.v17 .dijitDialog input.ibm-disabled,.v17 .dijitDialog input.ibm-disabled:hover,
.v17 .dijitDialog input.ibm-disabled:focus,.v17 .dijitDialog input.ibm-disabled:active,.v17 .dijitDialog input[disabled],.v17 .dijitDialog input[disabled]:hover,.v17 .dijitDialog input[disabled]:focus,
.v17 .dijitDialog input[disabled]:active,.v17 .dijitDialog input[disabled="disabled"],.v17 .dijitDialog input[disabled="disabled"]:hover,.v17 .dijitDialog input[disabled="disabled"]:focus,.v17 .dijitDialog input[disabled="disabled"]:active{box-shadow:none}
}#ibm-content .ibm-share-this{border-top:2px solid #666}#ibm-content .ibm-share-this ul{padding:10px 0 16px}#ibm-content .ibm-share-this ul li{background-image:none !important;float:left;clear:none;padding:0 10px 0 0}
#ibm-content .ibm-share-this ul li a{display:block;height:15px;width:16px;text-indent:-9999px;overflow:hidden}#ibm-content .ibm-share-this ul li a:focus{outline:none}#ibm-social-tools{position:absolute;top:160px;right:0px;_right:-1px;z-index:500;width:25px}
.dj_ie7 #ibm-social-tools{float:right;position:fixed}#ibm-social-tools ul{padding:0;margin:0;width:15px;padding:3px 6px 3px 3px;box-shadow:0px 0 5px rgba(0,0,0,.8);-moz-box-shadow:0px 0 5px rgba(0,0,0,.8);-webkit-box-shadow:0px 0 5px #888;background-color:#fff;background:-moz-linear-gradient(180deg, #e6e6e6 0, #fff 20%) no-repeat #fff;border:1px solid #fff;border-right:0px;border-left:0px; float:right;border-color:#aaa\9; opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity = 80)";-webkit-transition-property:opacity;-webkit-transition-duration:.5s;-o-transition-property:opacity;-o-transition-duration:.5s;-moz-transition-property:opacity;-moz-transition-duration:.5s}
#ibm-social-tools ul:hover,#ibm-social-tools ul.ibm-active{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity = 100)"}#ibm-social-tools li{padding:0;float:left;padding:2px 0}#ibm-social-tools a{display:block;height:16px;width:16px;float:left;text-indent:-9999px;overflow:hidden;padding:0}
a[class^="ibm-share"],ul:hover a[class^="ibm-share"],ul:hover a[class^="ibm-share"]:hover,ul a[class^="ibm-share"]:focus{background:url(/i/v17/icons/sprites-pt-all.png) no-repeat}a.ibm-share-email{background-position:-52px -52px}
a.ibm-share-print{background-position:-52px -130px}a.ibm-share-delicious{background-position:-52px 0}a.ibm-share-digg{background-position:-52px -26px}a.ibm-share-facebook{background-position:-52px -78px}a.ibm-share-linkedin{background-position:-52px -104px}
a.ibm-share-twitter{background-position:-52px -156px}a.ibm-share-dogear{background-position:-52px -182px}a.ibm-share-stumble{background-position:-52px -208px}a.ibm-share-googleplus{background-position:-52px -234px}
a.ibm-share-youtube{background-position:-52px -283px}ul:hover a.ibm-share-email{background-position:-26px -52px}ul:hover a.ibm-share-print{background-position:-26px -130px}ul:hover a.ibm-share-delicious{background-position:-26px 0}
ul:hover a.ibm-share-digg{background-position:-26px -26px}ul:hover a.ibm-share-facebook{background-position:-26px -78px}ul:hover a.ibm-share-linkedin{background-position:-26px -104px}ul:hover a.ibm-share-twitter{background-position:-26px -156px}
ul:hover a.ibm-share-dogear{background-position:-26px -182px}ul:hover a.ibm-share-stumble{background-position:-26px -208px}ul:hover a.ibm-share-googleplus{background-position:-26px -234px}ul:hover a.ibm-share-youtube{background-position:-26px -283px}
ul:hover a.ibm-share-email:hover,ul a.ibm-share-email:focus{background-position:-78px -52px}ul:hover a.ibm-share-print:hover,ul a.ibm-share-print:focus{background-position:-78px -130px}ul:hover a.ibm-share-delicious:hover,
ul a.ibm-share-delicious:focus{background-position:-78px 0}ul:hover a.ibm-share-digg:hover,ul a.ibm-share-digg:focus{background-position:-78px -26px}ul:hover a.ibm-share-facebook:hover,ul a.ibm-share-facebook:focus{background-position:-78px -78px}
ul:hover a.ibm-share-linkedin:hover,ul a.ibm-share-linkedin:focus{background-position:-78px -104px}ul:hover a.ibm-share-twitter:hover,ul a.ibm-share-twitter:focus{background-position:-78px -156px}ul:hover a.ibm-share-dogear:hover,
ul a.ibm-share-dogear:focus{background-position:-78px -182px}ul:hover a.ibm-share-stumble:hover,ul a.ibm-share-stumble:focus{background-position:-78px -208px}ul:hover a.ibm-share-googleplus:hover,ul a.ibm-share-googleplus:focus{background-position:-78px -234px}
ul:hover a.ibm-share-youtube:hover,ul a.ibm-share-youtube:focus{background-position:-78px -283px}ul:hover a.ibm-share-active-email:hover{background-position:0 -52px}ul:hover a.ibm-share-active-print:hover{background-position:0 -130px}
ul:hover a.ibm-share-active-delicious:hover{background-position:0 0}ul:hover a.ibm-share-active-digg:hover{background-position:0 -26px}ul:hover a.ibm-share-active-facebook:hover{background-position:0 -78px}
ul:hover a.ibm-share-active-linkedin:hover{background-position:0 -104px}ul:hover a.ibm-share-active-twitter:hover{background-position:0 -156px}ul:hover a.ibm-share-active-ibm-dogear:hover{background-position:0 -182px}
ul:hover a.ibm-share-active-stumble:hover{background-position:0 -208px}ul:hover a.ibm-share-active-googleplus:hover{background-position:0 -234px}ul:hover a.ibm-share-active-youtube:hover{background-position:0 -283px}
a.ibm-share-blip,a.ibm-share-wykop{background:url(/i/v17/icons/sprites-pt-pl.png) no-repeat}a.ibm-share-blip{background-position:-52px 0}a.ibm-share-wykop{background-position:-52px -26px}a.ibm-share-viadeo{background:url(/i/v17/icons/sprites-pt-fr.png) no-repeat -52px 0}
ul:hover a[class^="ibm-share"][class$="blip"]{background:url(/i/v17/icons/sprites-pt-pl.png) no-repeat -26px 0}ul:hover a[class^="ibm-share"][class$="wykop"]{background:url(/i/v17/icons/sprites-pt-pl.png) no-repeat -26px -26px}
ul:hover a[class^="ibm-share"][class$="viadeo"]{background:url(/i/v17/icons/sprites-pt-fr.png) no-repeat -26px 0}ul:hover a[class^="ibm-share"][class$="blip"]:hover,ul a[class^="ibm-share"][class$="blip"]:focus{background:url(/i/v17/icons/sprites-pt-pl.png) no-repeat -78px 0}
ul:hover a[class^="ibm-share"][class$="wykop"]:hover,ul a[class^="ibm-share"][class$="wykop"]:focus{background:url(/i/v17/icons/sprites-pt-pl.png) no-repeat -78px -26px}ul:hover a[class^="ibm-share"][class$="viadeo"]:hover,
ul a[class^="ibm-share"][class$="viadeo"]:focus{background:url(/i/v17/icons/sprites-pt-fr.png) no-repeat -78px 0}ul:hover a[class$="active-blip"]:hover{background:url(/i/v17/icons/sprites-pt-pl.png) no-repeat 0 0}
ul:hover a[class$="active-wykop"]:hover{background:url(/i/v17/icons/sprites-pt-pl.png) no-repeat 0 -26px}ul:hover a[class$="active-viadeo"]:hover{background:url(/i/v17/icons/sprites-pt-fr.png) no-repeat 0 0}
a.ibm-share-yahoo-japan,a.ibm-share-hatena,a.ibm-share-livedoor,ul:hover a.ibm-share-yahoo-japan,ul:hover a.ibm-share-hatena,ul:hover a.ibm-share-livedoor,ul:hover a.ibm-share-yahoo-japan:hover,ul:hover a.ibm-share-hatena:hover,
ul:hover a.ibm-share-livedoor:hover,ul a.ibm-share-yahoo-japan:focus,ul a.ibm-share-hatena:focus,ul a.ibm-share-livedoor:focus{background:url(/i/v17/icons/sprites-pt-jp.png) no-repeat}a.ibm-share-yahoo-japan{background-position:-52px 0}
a.ibm-share-hatena{background-position:-52px -26px}a.ibm-share-livedoor{background-position:-52px -52px}ul:hover a.ibm-share-yahoo-japan{background-position:-26px 0}ul:hover a.ibm-share-hatena{background-position:-26px -26px}
ul:hover a.ibm-share-livedoor{background-position:-26px -52px}ul:hover a.ibm-share-yahoo-japan:hover,ul a.ibm-share-yahoo-japan:focus{background-position:-78px 0}ul:hover a.ibm-share-hatena:hover,ul a.ibm-share-hatena:focus{background-position:-78px -26px}
ul:hover a.ibm-share-livedoor:hover,ul a.ibm-share-livedoor:focus{background-position:-78px -52px}ul:hover a.ibm-share-active-yahoo-japan:hover{background-position:0 0}ul:hover a.ibm-share-active-hatena:hover{background-position:0 -26px}
ul:hover a.ibm-share-active-livedoor:hover{background-position:0 -52px}a.ibm-share-kaixn,a.ibm-share-renren,a.ibm-share-baidu,a.ibm-share-weibo,ul:hover a.ibm-share-kaixn,ul:hover a.ibm-share-renren,ul:hover a.ibm-share-baidu,
ul:hover a.ibm-share-weibo,ul:hover a.ibm-share-kaixn:hover,ul:hover a.ibm-share-renren:hover,ul:hover a.ibm-share-baidu:hover,ul:hover a.ibm-share-weibo:hover,ul a.ibm-share-kaixn:focus,ul a.ibm-share-renren:focus,
ul a.ibm-share-baidu:focus,ul a.ibm-share-weibo:focus{background:url(/i/v17/icons/sprites-pt-cn.png) no-repeat}a.ibm-share-kaixn{background-position:-52px 0}a.ibm-share-renren{background-position:-52px -26px}
a.ibm-share-baidu{background-position:-52px -52px}a.ibm-share-weibo{background-position:-52px -78px}ul:hover a.ibm-share-kaixn{background-position:-26px 0}ul:hover a.ibm-share-renren{background-position:-26px -26px}
ul:hover a.ibm-share-baidu{background-position:-26px -52px}ul:hover a.ibm-share-weibo{background-position:-26px -78px}ul:hover a.ibm-share-kaixn:hover,ul a.ibm-share-kaixn:focus{background-position:-78px 0}
ul:hover a.ibm-share-renren:hover,ul a.ibm-share-renren:focus{background-position:-78px -26px}ul:hover a.ibm-share-baidu:hover,ul a.ibm-share-baidu:focus{background-position:-78px -52px}ul:hover a.ibm-share-weibo:hover,ul a.ibm-share-weibo:focus{background-position:-78px -78px}
.ibm-share-this.ibm-alternate,.ibm-share-this.ibm-alternate-medium,.ibm-share-this.ibm-alternate-large{border-top:0 none !important;display:inline-block}#ibm-content .ibm-share-this.ibm-alternate-medium ul,
#ibm-content .ibm-share-this.ibm-alternate-large ul{padding:0 0 16px}#ibm-content .ibm-share-this.ibm-alternate-medium ul li,#ibm-content .ibm-share-this.ibm-alternate-large ul li{padding:0 10px 10px 0}#ibm-content .ibm-share-this.ibm-alternate-medium ul li:hover,
#ibm-content .ibm-share-this.ibm-alternate-large ul li:hover{padding-left:0}#ibm-content .ibm-share-this.ibm-alternate ul li a{height:16px;width:16px}#ibm-content .ibm-share-this.ibm-alternate-medium ul li a{height:26px;width:26px}
#ibm-content .ibm-share-this.ibm-alternate-large ul li a{height:34px;width:34px}#ibm-content .ibm-share-this.ibm-alternate ul li a:active,#ibm-content .ibm-share-this.ibm-alternate-medium ul li a:active,
#ibm-content .ibm-share-this.ibm-alternate-large ul li a:active{opacity:1}.ibm-share-this.ibm-alternate ul li a:focus.ibm-share-this.ibm-alternate-medium ul li a:focus,.ibm-share-this.ibm-alternate-large ul li a:focus{outline:thin dotted !important}
.ibm-share-this.ibm-alternate a[class^="ibm-share"]{background:url(/i/v17/icons/ibm_sprite_share_16x16_OFF.png) no-repeat}.ibm-share-this.ibm-alternate ul li a.ibm-share-digg{background-position:0 0}.ibm-share-this.ibm-alternate ul li a.ibm-share-delicious{background-position:0 -200px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-facebook{background-position:0 -400px}.ibm-share-this.ibm-alternate ul li a.ibm-share-linkedin{background-position:0 -600px}.ibm-share-this.ibm-alternate ul li a.ibm-share-twitter{background-position:0 -800px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-stumble{background-position:0 -1000px}.ibm-share-this.ibm-alternate ul li a.ibm-share-connection{background-position:0 -1200px}.ibm-share-this.ibm-alternate ul li a.ibm-share-youtube{background-position:0 -1400px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-wordpress{background-position:0 -1600px}.ibm-share-this.ibm-alternate ul li a.ibm-share-googleplus{background-position:0 -1800px}.ibm-share-this.ibm-alternate ul a[class^="ibm-share"]:hover{background:url(/i/v17/icons/ibm_sprite_share_16x16_HOVER.png) no-repeat}
.ibm-share-this.ibm-alternate ul li a.ibm-share-digg:hover{background-position:0 0}.ibm-share-this.ibm-alternate ul li a.ibm-share-delicious:hover{background-position:0 -200px}.ibm-share-this.ibm-alternate ul li a.ibm-share-facebook:hover{background-position:0 -400px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-linkedin:hover{background-position:0 -600px}.ibm-share-this.ibm-alternate ul li a.ibm-share-twitter:hover{background-position:0 -800px}.ibm-share-this.ibm-alternate ul li a.ibm-share-stumble:hover{background-position:0 -1000px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-connection:hover{background-position:0 -1200px}.ibm-share-this.ibm-alternate ul li a.ibm-share-youtube:hover{background-position:0 -1400px}.ibm-share-this.ibm-alternate ul li a.ibm-share-wordpress:hover{background-position:0 -1600px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-googleplus:hover{background-position:0 -1800px}.ibm-share-this.ibm-alternate ul a[class^="ibm-share"]:active{background:url(/i/v17/icons/ibm_sprite_share_16x16_CLICK.png) no-repeat}
.ibm-share-this.ibm-alternate ul li a.ibm-share-digg:active{background-position:0 0}.ibm-share-this.ibm-alternate ul li a.ibm-share-delicious:active{background-position:0 -200px}.ibm-share-this.ibm-alternate ul li a.ibm-share-facebook:active{background-position:0 -400px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-linkedin:active{background-position:0 -600px}.ibm-share-this.ibm-alternate ul li a.ibm-share-twitter:active{background-position:0 -800px}.ibm-share-this.ibm-alternate ul li a.ibm-share-stumble:active{background-position:0 -1000px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-connection:active{background-position:0 -1200px}.ibm-share-this.ibm-alternate ul li a.ibm-share-youtube:active{background-position:0 -1400px}.ibm-share-this.ibm-alternate ul li a.ibm-share-wordpress:active{background-position:0 -1600px}
.ibm-share-this.ibm-alternate ul li a.ibm-share-googleplus:active{background-position:0 -1800px}.ibm-share-this.ibm-alternate-medium a[class^="ibm-share"]{background:url(/i/v17/icons/ibm_sprite_share_24x24_OFF.png) no-repeat}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-digg{background-position:0 0}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-delicious{background-position:0 -200px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-facebook{background-position:0 -400px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-linkedin{background-position:0 -600px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-twitter{background-position:0 -800px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-stumble{background-position:0 -1000px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-connection{background-position:0 -1200px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-youtube{background-position:0 -1400px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-wordpress{background-position:0 -1600px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-googleplus{background-position:0 -1800px}.ibm-share-this.ibm-alternate-medium ul a[class^="ibm-share"]:hover{background:url(/i/v17/icons/ibm_sprite_share_24x24_HOVER.png) no-repeat}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-digg:hover{background-position:0 0}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-delicious:hover{background-position:0 -200px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-facebook:hover{background-position:0 -400px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-linkedin:hover{background-position:0 -600px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-twitter:hover{background-position:0 -800px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-stumble:hover{background-position:0 -1000px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-connection:hover{background-position:0 -1200px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-youtube:hover{background-position:0 -1400px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-wordpress:hover{background-position:0 -1600px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-googleplus:hover{background-position:0 -1800px}.ibm-share-this.ibm-alternate-medium ul a[class^="ibm-share"]:active{background:url(/i/v17/icons/ibm_sprite_share_24x24_CLICK.png) no-repeat}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-digg:active{background-position:0 0}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-delicious:active{background-position:0 -200px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-facebook:active{background-position:0 -400px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-linkedin:active{background-position:0 -600px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-twitter:active{background-position:0 -800px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-stumble:active{background-position:0 -1000px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-connection:active{background-position:0 -1200px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-youtube:active{background-position:0 -1400px}
.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-wordpress:active{background-position:0 -1600px}.ibm-share-this.ibm-alternate-medium ul li a.ibm-share-googleplus:active{background-position:0 -1800px}
.ibm-share-this.ibm-alternate-large a[class^="ibm-share"]{background:url(/i/v17/icons/ibm_sprite_share_32x32_OFF.png) no-repeat}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-digg{background-position:0 0}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-delicious{background-position:0 -210px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-facebook{background-position:0 -420px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-linkedin{background-position:0 -630px}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-twitter{background-position:0 -840px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-stumble{background-position:0 -1050px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-connection{background-position:0 -1260px}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-youtube{background-position:0 -1470px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-wordpress{background-position:0 -1680px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-googleplus{background-position:0 -1890px}
.ibm-share-this.ibm-alternate-large ul a[class^="ibm-share"]:hover{background:url(/i/v17/icons/ibm_sprite_share_32x32_HOVER.png) no-repeat}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-digg:hover{background-position:0 0}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-delicious:hover{background-position:0 -210px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-facebook:hover{background-position:0 -420px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-linkedin:hover{background-position:0 -630px}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-twitter:hover{background-position:0 -840px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-stumble:hover{background-position:0 -1050px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-connection:hover{background-position:0 -1260px}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-youtube:hover{background-position:0 -1470px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-wordpress:hover{background-position:0 -1680px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-googleplus:hover{background-position:0 -1890px}
.ibm-share-this.ibm-alternate-large ul a[class^="ibm-share"]:active{background:url(/i/v17/icons/ibm_sprite_share_32x32_CLICK.png) no-repeat}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-digg:active{background-position:0 0}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-delicious:active{background-position:0 -210px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-facebook:active{background-position:0 -420px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-linkedin:active{background-position:0 -630px}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-twitter:active{background-position:0 -840px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-stumble:active{background-position:0 -1050px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-connection:active{background-position:0 -1260px}
.ibm-share-this.ibm-alternate-large ul li a.ibm-share-youtube:active{background-position:0 -1470px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-wordpress:active{background-position:0 -1680px}.ibm-share-this.ibm-alternate-large ul li a.ibm-share-googleplus:active{background-position:0 -1890px}
.dj_ie6 a.ibm-share-email,.dj_ie6 a.ibm-share-print,.dj_ie6 a.ibm-share-delicious,.dj_ie6 a.ibm-share-digg,.dj_ie6 a.ibm-share-facebook,.dj_ie6 a.ibm-share-linkedin,.dj_ie6 a.ibm-share-twitter,.dj_ie6 a.ibm-share-dogear,
.dj_ie6 a.ibm-share-stumble,.dj_ie6 a.ibm-share-googleplus,.dj_ie6 a.ibm-share-facebook{background:url(/i/v17/icons/sprites-pt-all.png) no-repeat}.dj_ie6 a.ibm-share-delicious{background-position:-26px 0}
.dj_ie6 a.ibm-share-digg{background-position:-26px -26px}.dj_ie6 a.ibm-share-email{background-position:-26px -52px}.dj_ie6 a.ibm-share-facebook{background-position:-26px -78px}.dj_ie6 a.ibm-share-linkedin{background-position:-26px -104px}
.dj_ie6 a.ibm-share-print{background-position:-26px -130px}.dj_ie6 a.ibm-share-twitter{background-position:-26px -156px}.dj_ie6 a.ibm-share-dogear{background-position:-26px -182px}.dj_ie6 a.ibm-share-stumble{background-position:-26px -208px}
.dj_ie6 a.ibm-share-googleplus{background-position:-26px -234px}.dj_ie6 a.ibm-share-youtube{background-position:-26px -283px}.dj_ie6 a.ibm-share-yahoo-japan,.dj_ie6 a.ibm-share-hatena,.dj_ie6 a.ibm-share-livedoor{background:url(/i/v17/icons/sprites-pt-jp.png) no-repeat -26px 0}
.dj_ie6 a.ibm-share-hatena{background-position:-26px -26px}.dj_ie6 a.ibm-share-livedoor{background-position:-26px -52px}.dj_ie6 a.ibm-share-blip,.dj_ie6 a.ibm-share-wykop{background:url(/i/v17/icons/sprites-pt-pl.png) no-repeat}
.dj_ie6 a.ibm-share-blip{background-position:-26px 0}.dj_ie6 a.ibm-share-wykop{background-position:-26px -26px}.dj_ie6 a.ibm-share-viadeo{background:url(/i/v17/icons/sprites-pt-fr.png) no-repeat -26px 0}.dj_ie6 a.ibm-share-kaixn,
.dj_ie6 a.ibm-share-renren,.dj_ie6 a.ibm-share-baidu,.dj_ie6 a.ibm-share-weibo{background:url(/i/v17/icons/sprites-pt-cn.gif) no-repeat}.dj_ie6 a.ibm-share-renren{background-position:-26px -26px}.dj_ie6 a.ibm-share-baidu{background-position:-26px -52px}
.dj_ie6 a.ibm-share-weibo{background-position:-26px -78px}.dj_ie6 a.ibm-share-kaixn:hover{background-position:0 -1px}.dj_ie6 a.ibm-share-renren:hover{background-position:0 -27px}.dj_ie6 a.ibm-share-baidu:hover{background-position:0 -53px}
.dj_ie6 a.ibm-share-weibo:hover{background-position:0 -79px}ul.ibm-social-visit-links{display:block;height:65px;margin-left:-3px !important;position:relative;width:600px}ul.ibm-social-visit-links li{background:none !important;clear:none !important;float:left;height:38px !important;width:38px;padding:0 !important}
ul.ibm-social-visit-links li a{background:transparent url("/i/v17/ibm-soc-dest-sprite.png") no-repeat;display:block;height:38px;width:38px}ul.ibm-social-visit-links:hover li a{opacity:.8}ul.ibm-social-visit-links li a:hover{opacity:1}
ul.ibm-social-visit-links li a em{color:#666;left:3px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);position:absolute;top:42px;-moz-transition:opacity .25s ease-in-out;-o-transition:opacity .25s ease-in-out;-webkit-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out}
ul.ibm-social-visit-links li a:hover em{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}ul.ibm-social-visit-links li a.ibm-visit-twitter{background-position:1px 4px}ul.ibm-social-visit-links li a.ibm-visit-twitter:hover{background-position:1px -36px}
ul.ibm-social-visit-links li a.ibm-visit-twitter:active{background-position:1px -76px}ul.ibm-social-visit-links li a.ibm-visit-youtube{background-position:-39px 4px}ul.ibm-social-visit-links li a.ibm-visit-youtube:hover{background-position:-39px -36px}
ul.ibm-social-visit-links li a.ibm-visit-youtube:active{background-position:-39px -76px}ul.ibm-social-visit-links li a.ibm-visit-facebook{background-position:-119px 4px}ul.ibm-social-visit-links li a.ibm-visit-facebook:hover{background-position:-119px -36px}
ul.ibm-social-visit-links li a.ibm-visit-facebook:active{background-position:-119px -76px}ul.ibm-social-visit-links li a.ibm-visit-linkedin{background-position:-79px 4px}ul.ibm-social-visit-links li a.ibm-visit-linkedin:hover{background-position:-79px -36px}
ul.ibm-social-visit-links li a.ibm-visit-linkedin:active{background-position:-79px -76px}ul.ibm-social-visit-links li a.ibm-visit-pinterest{background-position:-239px 4px}ul.ibm-social-visit-links li a.ibm-visit-pinterest:hover{background-position:-239px -36px}
ul.ibm-social-visit-links li a.ibm-visit-pinterest:active{background-position:-239px -76px}ul.ibm-social-visit-links li a.ibm-visit-googleplus{background-position:-159px 4px}ul.ibm-social-visit-links li a.ibm-visit-googleplus:hover{background-position:-159px -36px}
ul.ibm-social-visit-links li a.ibm-visit-googleplus:active{background-position:-159px -76px}ul.ibm-social-visit-links li a.ibm-visit-blog{background-position:-199px 4px}ul.ibm-social-visit-links li a.ibm-visit-blog:hover{background-position:-199px -36px}
ul.ibm-social-visit-links li a.ibm-visit-blog:active{background-position:-199px -76px}ul.ibm-social-visit-links li a.ibm-visit-tumblr{background-position:-279px 4px}ul.ibm-social-visit-links li a.ibm-visit-tumblr:hover{background-position:-279px -36px}
ul.ibm-social-visit-links li a.ibm-visit-tumblr:active{background-position:-279px -76px}#ibm-com #ibm-top .ibm-rating-module,#ibm-com .ibm-common-overlay .ibm-rating-module{display:block;clear:both;padding-bottom:25px}#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list,#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list{list-style-type:none}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-no-star,#ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-no-star,#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-half-star,
#ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-half-star,#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-full-star,#ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-full-star{float:left;width:13px;height:13px;background:url("/i/v17/icons/ibm_sprite_ratings_blue_ON.png") no-repeat;display:block;clear:none;margin:0;padding:0 2px 0 0}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-no-star,#ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-no-star{background-position:0 -601px}#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-half-star,
#ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-half-star{background-position:0 -401px}#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-full-star,#ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-full-star{background-position:0 -201px}
#ibm-com #ibm-top .ibm-rating-module h2,#ibm-com .ibm-common-overlay .ibm-rating-module h2{clear:both}#ibm-com #ibm-top .ibm-rating-module .ibm-rating-label,#ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-label{padding-bottom:5px;clear:both}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-inline-label,#ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-inline-label{float:left;clear:left;padding-top:0px;width:120px}#ibm-content .ibm-two-column .ibm-column.ibm-first{float:left;width:288px}#ibm-content .ibm-two-column .ibm-column.ibm-second{float:right;width:288px}.ibm-content-expand #ibm-content .ibm-two-column .ibm-column.ibm-first,
.ibm-content-expand #ibm-content .ibm-two-column .ibm-column.ibm-second{width:379px}#ibm-content .ibm-container .ibm-two-column .ibm-column.ibm-first{clear:left;padding-right:10px;width:268px}#ibm-content .ibm-container .ibm-two-column .ibm-column.ibm-second{clear:right;padding-left:10px;width:268px}
.ibm-content-expand #ibm-content .ibm-container .ibm-two-column .ibm-column.ibm-first,.ibm-content-expand #ibm-content .ibm-container .ibm-two-column .ibm-column.ibm-second{width:359px}#ibm-content .ibm-two-column.ibm-alternate-four .ibm-column.ibm-first{width:404px}
#ibm-content .ibm-two-column.ibm-alternate-four .ibm-column.ibm-second{width:172px}#ibm-content .ibm-two-column.ibm-alternate-five .ibm-column.ibm-first{clear:both;width:172px}#ibm-content .ibm-two-column.ibm-alternate-five .ibm-column.ibm-second{width:404px}#ibm-leadspace-head.ibm-loc-map #ibm-leadspace-body{background:url(/i/v17/loc/ibm_sprite_planetwide.png) no-repeat 0 1%}#ibm-leadspace-head.ibm-loc-map #ibm-leadspace-body.ibm-locmap-na{background-position:0 21%}
#ibm-leadspace-head.ibm-loc-map #ibm-leadspace-body.ibm-locmap-la{background-position:0 41%}#ibm-leadspace-head.ibm-loc-map #ibm-leadspace-body.ibm-locmap-eu{background-position:0 61%}#ibm-leadspace-head.ibm-loc-map #ibm-leadspace-body.ibm-locmap-mea{background-position:0 81%}
#ibm-leadspace-head.ibm-loc-map #ibm-leadspace-body.ibm-locmap-ap{background-position:0 101%}.ibm-landing-page #ibm-content-main .ibm-tabs-content h2.ibm-sel-country,.ibm-landing-page #ibm-content-main .ibm-tabs-content h2.ibm-ww-contacts{font-size:1.3em}
#ibm-content .ibm-columns .ibm-region.ibm-active h3{color:#000000}#ibm-content .ibm-columns .ibm-region ul li a{color:#454545}#ibm-content .ibm-columns .ibm-region.ibm-active ul li a{color:#2b2b2b}#ibm-content .ibm-columns .ibm-region ul ul{display:inline-block;padding-top:5px}
#ibm-content .ibm-columns .ibm-region ul ul li{background:none repeat scroll 0 0 transparent;display:inline-block;padding:0 2px}#ibm-content .ibm-columns .ibm-region ul ul li.ibm-col-separator{border-left:1px double #AAAAAA;padding-left:7px}
.ibm-landing-page #ibm-content .ibm-columns p.ibm-loc-choice{padding:5px 10px 15px}#ibm-overlay-wwcontact{width:586px}#ibm-overlay-wwcontact .ibm-title h1{font-size:2em;line-height:18px}#ibm-overlay-wwcontact .ibm-container{margin-top:20px}
#ibm-overlay-wwcontact .ibm-container .ibm-columns{margin:0 -10px}#ibm-overlay-wwcontact .ibm-columns div.ibm-col-6-3{width:253px}#ibm-overlay-wwcontact div.ibm-col-6-3 div{background:none;padding:0 0 16px}
#ibm-overlay-wwcontact div.ibm-col-6-3 div:last-child{padding:0}#ibm-overlay-wwcontact .ibm-container .ibm-columns h2.ibm-rule{padding:9px 0 0}#ibm-overlay-wwcontact .ibm-footnote{padding-top:10px}#ibm-overlay-wwcontact h3.ibm-rule-alternate,
#ibm-overlay-wwcontact h3.ibm-alternate-rule{border-top:1px dotted #CCCCCC;margin:10px 0 0;padding-top:10px}#ibm-overlay-wwcontact div.ibm-col-6-3 div:nth-child(2) h3.ibm-rule-alternate,#ibm-overlay-wwcontact div.ibm-col-6-3 div:nth-child(2) h3.ibm-alternate-rule{border-top:0;padding-top:0}
#ibm-overlay-wwcontact .ibm-main p{padding:2px 0 0}#ibm-overlay-wwcontact .ibm-main .ibm-form-note,#ibm-overlay-wwcontact .ibm-item-note,#ibm-overlay-wwcontact .ibm-item-note-alternate,#ibm-overlay-wwcontact .ibm-footnote p{padding:10px 0 0}
#ibm-overlay-wwcontact p strong,#ibm-overlay-wwcontact p b{padding-right:5px;float:left}#ibm-overlay-wwcontact ul li{background:none;display:inline-block;padding:5px 0 0}#ibm-overlay-wwcontact ul.ibm-link-list li p a{float:left;padding-left:0}
#ibm-overlay-wwcontact a.ibm-forward-em-link{font-weight:bold;font-size:1.03em}#ibm-masthead{width:100%;min-width:980px;left:0px;top:0px;position:fixed;z-index:900;border-top:1px solid #666;border-bottom:2px solid rgba(255,255,255,.8);*overflow:hidden;_position:relative}.dijit_a11y #ibm-masthead{border:0}
#ibm-top.ibm-no-scroll #ibm-masthead{position:relative}#ibm-top.ibm-no-scroll,#ibm-top.ibm-no-scroll #ibm-leadspace-head{margin-top:0px}#ibm-masthead .ibm-dlg-close{position:absolute;float:right;height:25px;width:25px;margin-left:98%;margin-top:7px;overflow:hidden;z-index:9}
#ibm-masthead .ibm-dlg-close span{position:absolute;height:25px;width:25px;background:url(/i/v17/buttons/www_closebtn_sprites.png) no-repeat 7px -795px}#ibm-masthead .ibm-dlg-close span:hover,#ibm-masthead .ibm-dlg-close span:focus{height:23px;width:23px;border:1px dotted gray;background-position:6px -996px}
#ibm-masthead .ibm-mm-close{height:25px;width:940px;overflow:hidden;z-index:9;position:relative;margin:-25px auto 0;cursor:pointer}#ibm-masthead .ibm-mm-close span{position:absolute;display:block;height:25px;width:940px;background:url(/i/v17/buttons/mm-sprite-alt.gif) 0 2px no-repeat transparent;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/buttons/mm-sprite.png');text-align:center;text-indent:-9999em}
#ibm-masthead .ibm-mm-close span:hover{background-position:0px -23px}#ibm-masthead .ibm-mm-close span:active,#ibm-masthead .ibm-mm-close span:focus{background-position:0px -49px}#ibm-mast-options{background:#131623;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#131623', endColorstr='#1A1C27');background:-webkit-linear-gradient(top, #131623, #1A1C27);background:-moz-linear-gradient(top, #131623, #1A1C27);background:-o-linear-gradient(top, #131623, #1A1C27);background:-ms-linear-gradient(top, #131623, #1A1C27);background:linear-gradient(top, #131623, #1A1C27);height:1%;float:left;width:100%;color:#A1A2A7}
#ibm-mast-options:hover{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#131623', endColorstr='#1A1C27');background:-webkit-linear-gradient(top, #131623, #1A1C27);background:-moz-linear-gradient(top, #131623, #1A1C27);background:-o-linear-gradient(top, #131623, #1A1C27);background:-ms-linear-gradient(top, #131623, #1A1C27);background:linear-gradient(top, #131623, #1A1C27);color:#D0D0D3}
#ibm-mast-options ul{background-color:#131623;float:right;margin-right:5%;border-left:1px solid #2b2d39;border-right:1px solid #02050E}#ibm-mast-options li{border-left:1px solid #02050E;border-right:1px solid #2b2d39;float:left;padding:4px 20px;height:13px}
#ibm-mast-options:after{content:".";display:block;height:0;clear:both;visibility:hidden}#ibm-mast-options p{display:inline}#ibm-related-links,#ibm-esite-link{display:block}#ibm-mast-options a{color:#A1A2A7;padding:3px 2px;text-decoration:none}
.dijit_a11y #ibm-mast-options{border:0}.dijit_a11y #ibm-masthead #ibm-common-menu ul,.dijit_a11y #ibm-masthead #ibm-common-menu .ibm-columns li{font-size:.9em}.dijit_a11y #ibm-masthead #ibm-common-menu ul li a{font-size:1.2em}
#ibm-mast-options li:hover{color:#FFF}#ibm-mast-options li#ibm-geo{padding:4px 0}.dijit_a11y #ibm-mast-options li#ibm-geo{padding:4px 20px}#ibm-mast-options li#ibm-geo a{background:url("/i/v17/icons/country-icons-sprite.png") no-repeat scroll 10px 0 transparent;padding:3px 20px 3px 40px;_background:none}
#ibm-mast-options li#ibm-geo a.ibm-back-country,#ibm-mast-options li#ibm-geo a.ibm-back-country:focus,#ibm-mast-options li#ibm-geo:hover a.ibm-back-country{background:url("/i/v17/icons/ibm_sprite_inter_country_nav.png") no-repeat scroll 4px 4px transparent;padding-left:20px;padding-top:4px;_background:none}
#ibm-mast-options li#ibm-geo a.ibm-back-country:hover{background-position:4px -212px}#ibm-mast-options:hover a{color:#D0D0D3}#ibm-mast-options:hover li#ibm-geo a{color:#D0D0D3;background-position:10px -20px}
#ibm-mast-options li#ibm-geo:hover a,#ibm-mast-options li#ibm-geo a:focus{background-position:10px -40px;color:#FFF}#ibm-mast-options li#ibm-sso span span{color:#666}#ibm-mast-options li#ibm-sso a{color:#929395}
#ibm-mast-options:hover li#ibm-sso a{color:#A1A2A7}#ibm-mast-options li#ibm-sso:hover a{color:#BABBBD}#ibm-mast-options a:hover,#ibm-mast-options a:focus, #ibm-mast-options li#ibm-sso a:focus{color:#FFF}#ibm-universal-nav #ibm-unav-links,
#ibm-universal-nav #ibm-menu-links{margin:0 260px 0 20px}#ibm-universal-nav{width:100%;float:left;min-width:1024px;background:#000;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');background:-webkit-linear-gradient(top, #595C64, #1B1B1C);background:-moz-linear-gradient(top, #595C64, #1B1B1C);background:-o-linear-gradient(top, #595C64, #1B1B1C);background:-ms-linear-gradient(top, #595C64, #1B1B1C);background:linear-gradient(top, #595C64, #1B1B1C);height:50px;border-top:1px solid #999;border-bottom:1px solid #666}
#ibm-universal-nav:hover{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');background:-webkit-linear-gradient(top, #595C64, #1B1B1C);background:-moz-linear-gradient(top, #595C64, #1B1B1C);background:-o-linear-gradient(top, #595C64, #1B1B1C);background:-ms-linear-gradient(top, #595C64, #1B1B1C);background:linear-gradient(top, #595C64, #1B1B1C)}
#ibm-universal-nav span.ibm-masthead-indicator{position:absolute;left:50%}#ibm-universal-nav #ibm-unav-links,#ibm-universal-nav #ibm-menu-links{margin:0px 20px;float:left}#ibm-universal-nav #ibm-menu-links{margin-left:130px;*margin-left:90px;_margin-left:75px}
#ibm-universal-nav #ibm-unav-links li,#ibm-universal-nav #ibm-menu-links li{float:left}#ibm-universal-nav li a{color:#CCC;display:block;text-decoration:none;letter-spacing:0px;text-shadow:0px -1px 0 #000;padding:17px 12px;_height:1%;_float:left}
#ibm-universal-nav li#ibm-home{display:block;overflow:hidden;height:50px;position:absolute;width:100px}#ibm-universal-nav li#ibm-home a{position:absolute;display:block;top:0px;left:0px;background:url(/i/v17/t/ibm-logo.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/v17/t/ibm-logo.png');_cursor:pointer;width:100px;float:left;height:50px;text-indent:-999em;padding:0px}
#ibm-universal-nav li#ibm-home.ibm-sm-logo a{background:url(/i/v17/t/ibm-logo.png) no-repeat scroll 0 -100px;height:30px}#ibm-universal-nav #ibm-menu-links li:hover{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#696c72', endColorstr='#333334')}
#ibm-universal-nav #ibm-menu-links li a:hover,#ibm-universal-nav #ibm-menu-links li a:focus{background:-webkit-linear-gradient(top, #696c72, #333334);background:-moz-linear-gradient(top, #696c72, #333334);background:-o-linear-gradient(top, #696c72, #333334);background:-ms-linear-gradient(top, #696c72, #333334);background:linear-gradient(top, #696c72, #333334);_background:none transparent no-scroll repeat;text-shadow:0px 0 3px #FFF;color:#FFF}
#ibm-universal-nav #ibm-menu-links li a:active{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B1B1C', endColorstr='#595C64');background:-webkit-linear-gradient(top, #1B1B1C, #595C64);background:-moz-linear-gradient(top, #1B1B1C, #595C64);background:-o-linear-gradient(top, #1B1B1C, #595C64);background:-ms-linear-gradient(top, #1B1B1C, #595C64);background:linear-gradient(top, #1B1B1C, #595C64);text-shadow:0 0 3px #FFF;color:#FFF}
#ibm-universal-nav #ibm-menu-links li.ibm-active{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#696c72', endColorstr='#333334')}#ibm-universal-nav #ibm-menu-links li a.ibm-active{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#696c72', endColorstr='#333334');background:-webkit-linear-gradient(top, #696c72, #333334);background:-moz-linear-gradient(top, #696c72, #333334);background:-o-linear-gradient(top, #696c72, #333334);background:-ms-linear-gradient(top, #696c72, #333334);background:linear-gradient(top, #696c72, #333334);text-shadow:0 0 3px #FFF;color:#FFF}
#ibm-universal-nav #ibm-menu-links li.ibm-inactive{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#696c72', endColorstr='#333334')}#ibm-universal-nav li#ibm-home.ibm-sm-logo a:hover,#ibm-universal-nav li#ibm-home.ibm-sm-logo a:focus{background-position:0px -100px}
#ibm-universal-nav li#ibm-home a:hover,#ibm-universal-nav li#ibm-home a:focus{background-position:0px -50px}#ibm-universal-nav li.ibm-active{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');background:-webkit-linear-gradient(top, #595C64, #1B1B1C);background:-moz-linear-gradient(top, #595C64, #1B1B1C);background:-o-linear-gradient(top, #595C64, #1B1B1C);background:-ms-linear-gradient(top, #595C64, #1B1B1C);background:linear-gradient(top, #595C64, #1B1B1C);color:#FFF;text-shadow:none}
#ibm-my-menu{width:100%;background:#D2D2D0;height:160px;display:none}#ibm-common-menu{width:100%;background-color:#ddd;*background:none;background:-webkit-linear-gradient(#dddddd, #f1f1f1);background:-moz-linear-gradient(#dddddd, #f1f1f1);background:-o-linear-gradient(#dddddd, #f1f1f1);background:-ms-linear-gradient(#dddddd, #f1f1f1);background:linear-gradient(#dddddd, #f1f1f1);_background:none; filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#d1d1d1',EndColorStr='#f1f1f1');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(StartColorStr='#d1d1d1',EndColorStr='#f1f1f1')";border-bottom:2px solid #fff;height:160px;display:none;box-shadow:0px -9px 7px -9px #bbb inset}
#ibm-common-menu h2{color:rgba(255,255,255,.75);color:#00B0DA\9;height:16px;width:140px;padding-left:0}#ibm-common-menu h2 a{color:#FFE14F;text-decoration:none}#ibm-common-menu h2 a:hover{color:#FFC14F}#ibm-common-menu h3{color:#333;text-shadow:0 1px 0 #fff;width:140px;padding-left:0;font-weight:bold}
#ibm-common-menu h3 a{color:#333;text-shadow:0 1px 0 #fff;text-decoration:none}#ibm-common-menu ul{list-style:none;padding:0 0 18px 0}#ibm-common-menu li{background:url(/i/v17/bullets-alt.gif) -2px 2px no-repeat transparent;padding-left:10px;margin-top:10px}
#ibm-common-menu li:hover,#ibm-common-menu li.ibm-active{background-position:-2px -98px}#ibm-common-menu li:active{opacity:.6}#ibm-common-menu a{color:#555;text-decoration:none}#ibm-common-menu a:focus,#ibm-common-menu a:hover{text-decoration:underline;color:#222}
#ibm-common-menu a:active{text-decoration:underline;color:#555}#ibm-universal-nav #ibm-unav-links #ibm-search-logo,#ibm-universal-nav #ibm-unav-links #ibm-links-logo{text-indent:-9999px;height:20px;width:20px;position:absolute;top:12px}
#ibm-universal-nav #ibm-unav-links #ibm-search-logo{background:url(/i/v17/minm_icons.png) no-repeat 3px -201px;right:79px}#ibm-universal-nav #ibm-unav-links #ibm-links-logo{background:url(/i/v17/minm_icons.png) no-repeat 3px -600px;right:47px}
#ibm-universal-nav #ibm-unav-links #ibm-search-logo.ibm-text,#ibm-universal-nav #ibm-unav-links #ibm-links-logo.ibm-text{text-indent:23px;width:80px;color:#fff;font-size:.8em}#ibm-universal-nav #ibm-unav-links #ibm-search-logo.ibm-text{right:112px}
#ibm-universal-nav #ibm-unav-links #ibm-links-logo.ibm-text{right:22px}#ibm-masthead .ibm-ribbon-pane .ibm-columns{padding-top:0}#ibm-masthead .ibm-menu-subtabs{background-color:#ccc;*background:none;background:-webkit-linear-gradient(#ccc, #EAEAEA);background:-moz-linear-gradient(#ccc, #EAEAEA);background:-o-linear-gradient(#ccc, #EAEAEA);background:-ms-linear-gradient(#ccc, #EAEAEA);background:linear-gradient(#ccc, #EAEAEA);filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#CCCCCC',EndColorStr='#EAEAEA');border-bottom:1px solid #bbb;height:39px}
#ibm-masthead #ibm-common-menu .ibm-menu-subtabs{box-shadow:0 1px 7px #c5c5c5}#ibm-masthead .ibm-menu-subtabs ul{width:940px;margin:0 auto;padding:14px 10px 0;margin-bottom:-1px}#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li{margin:0 20px 0 0;background-image:none;float:left;padding:0 10px 11px 10px}
#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li.ibm-active{background:url(/i/v17/buttons/mm-submenu-notch.gif) center 21px no-repeat transparent}#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li a{text-shadow:0 1px 0 #fff}
#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li a:hover{text-decoration:none}#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li.ibm-active a{font-weight:bold;color:#222}#ibm-masthead #ibm-common-menu .ibm-menu-static{border-left:1px solid #C8C8C8;box-shadow:1px 0 0 rgba(255,255,255,.5) inset;width:170px;height:282px;*height:232px;padding-left:20px;padding-right:0}
#ibm-masthead #ibm-common-menu .ibm-menu-static,#ibm-masthead #ibm-common-menu .ibm-menu-dynamic{padding-top:20px}#ibm-masthead #ibm-common-menu .ibm-menu-dynamic{padding-right:0}#ibm-masthead #ibm-common-menu .ibm-col-5-4.ibm-menu-dynamic{width:758px}
#ibm-masthead #ibm-common-menu .ibm-menu-dynamic .ibm-col-4-1{width:172px}#ibm-masthead #ibm-common-menu .ibm-menu-dynamic .ibm-col-4-1.ibm-col-last{width:162px}#ibm-masthead #ibm-common-menu .ibm-menu-dynamic .ibm-col-4-1 h3.ibm-access+ul li:first-child{margin-top:0px}
#ibm-masthead #ibm-common-menu .ibm-menu-dynamic .ibm-col-4-1 h3+ul li:first-child{margin-top:10px}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
#ibm-top,#ibm-masthead, #ibm-universal-nav, #ibm-common-menu{min-width:980px}#ibm-search-form{height:24px;margin:13px 20px -36px 1px}#ibm-search-form input#q{width:140px}#ibm-universal-nav #ibm-menu-links{margin-left:120px}
}.ibm-application #ibm-masthead{width:100%;min-width:980px;left:0px;top:0px;position:fixed;z-index:900;border-top:4px solid #171a23;border-bottom:0;*overflow:visible}.ibm-application #ibm-masthead #ibm-universal-nav{width:100%;float:left;min-width:1024px;background:#000;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#585b62', endColorstr='#1e1e20');background:-webkit-linear-gradient(top, #585b62, #1e1e20);background:-moz-linear-gradient(top, #585b62, #1e1e20);background:-o-linear-gradient(top, #585b62, #1e1e20);background:-ms-linear-gradient(top, #585b62, #1e1e20);background:linear-gradient(top, #585b62, #1e1e20);height:35px;border-top:1px solid #9699a2;border-bottom:1px solid #0b0b0b}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home{display:block;overflow:visible; height:30px;position:absolute;width:75px;margin-top:3px;background:url(/i/v17/buttons/appm-logo-menu.gif) no-repeat scroll 60px 13px transparent;border-radius:3px 3px 0 0;-webkit-transition:background-color .3s;-moz-transition:background-color .3s;-o-transition:background-color .3s;-ms-transition:background-color .3s;transition:background-color .3s}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home.ibm-active{box-shadow:0 0 3px #000;background:url(/i/v17/buttons/appm-logo-menu.gif) no-repeat scroll 60px -183px #000;filter:none}.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home a{display:block;background:url(/i/v17/t/ibm-logo.png) no-repeat scroll 0 -100px transparent;_filter:none;_cursor:pointer;width:74px;float:left;height:30px;text-indent:-999em;padding:0px}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home.ibm-active a{background-position:-1px -131px;border:1px solid #404040;border-radius:3px 3px 0 0}.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav{visibility:hidden;opacity:0;position:absolute;top:30px;background:#000;background:-webkit-linear-gradient(top, #282828, #000000);background:-moz-linear-gradient(top, #282828, #000000);background:-o-linear-gradient(top, #282828, #000000);background:-ms-linear-gradient(top, #282828, #000000);background:linear-gradient(top, #282828, #000000);border-radius:0 3px 3px 3px;border:1px solid #404040;box-shadow:2px 2px 4px -2px rgba(0,0,0,.8), -2px 2px 4px -2px rgba(0,0,0,.8);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;-ms-transition:opacity .3s;transition:opacity .3s}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home.ibm-active .ibm-logo-subnav{visibility:visible;opacity:1}.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav li{border-top:1px solid #404040}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav li.ibm-first{border-top:0px}.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav a{text-indent:0;font-size:11px;position:relative;background-image:none;width:150px;height:25px;padding-left:10px;line-height:25px;border:0px;border-radius:0}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav a:hover{background:#333333;background:-webkit-linear-gradient(top, #3B3B3B, #2A2A2A);background:-moz-linear-gradient(top, #3B3B3B, #2A2A2A);background:-o-linear-gradient(top, #3B3B3B, #2A2A2A);background:-ms-linear-gradient(top, #3B3B3B, #2A2A2A);background:linear-gradient(top, #3B3B3B, #2A2A2A)}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav li.ibm-first a{border-radius:0 3px 0 0}.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav li.ibm-first a:before{content:" ";display:block;height:1px;background-color:#282828;margin-left:-10px;margin-top:-1px;width:74px}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav li.ibm-last a{border-radius:0 0 3px 3px}.ibm-application #ibm-masthead #ibm-universal-nav #ibm-unav-links #ibm-search-logo,
.ibm-application #ibm-masthead #ibm-universal-nav #ibm-unav-links #ibm-links-logo{text-indent:-9999px;height:20px;width:20px;position:absolute;top:12px}.ibm-application #ibm-masthead #ibm-universal-nav #ibm-unav-links #ibm-search-logo{background:url(/i/v17/minm_icons.png) no-repeat 3px -201px;right:79px}
.ibm-application #ibm-masthead #ibm-universal-nav #ibm-unav-links #ibm-links-logo{background:url(/i/v17/minm_icons.png) no-repeat 3px -600px;right:47px}.ibm-application #ibm-masthead #ibm-universal-nav #ibm-unav-links #ibm-search-logo.ibm-text,
.ibm-application #ibm-masthead #ibm-universal-nav #ibm-unav-links #ibm-links-logo.ibm-text{text-indent:23px;width:80px;color:#fff;font-size:.8em}.ibm-application #ibm-masthead #ibm-universal-nav #ibm-unav-links #ibm-search-logo.ibm-text{right:112px}
.ibm-application #ibm-masthead #ibm-universal-nav #ibm-unav-links #ibm-links-logo.ibm-text{right:22px}.ibm-application #ibm-masthead #ibm-search-module{width:250px}.ibm-application #ibm-masthead #ibm-search-form{border:0 solid transparent;display:inline;height:30px;margin:5px 29px -36px 1px}
.ibm-application #ibm-masthead #ibm-universal-nav #ibm-mast-options{color:#fefefe;font-size:.7em;text-shadow:0 -1px 0 #222;margin-right:255px;display:inline-block;float:none;background:transparent;filter:none;width:auto;*display:inline;zoom:1;overflow:hidden}
.ibm-application #ibm-masthead #ibm-universal-nav #ibm-mast-options li#ibm-sso span span,.ibm-application #ibm-mast-options li#ibm-sso a,.ibm-application #ibm-masthead #ibm-universal-nav #ibm-mast-options:hover li#ibm-sso span span,
.ibm-application #ibm-mast-options:hover li#ibm-sso a{color:#fefefe;text-shadow:0 -1px 0 #222}.ibm-application #ibm-masthead #ibm-universal-nav #ibm-mast-options:hover{color:#fff}.ibm-application #ibm-masthead #ibm-universal-nav #ibm-mast-options .ibm-welcome-title-signout{border-left:1px solid #666;padding-left:8px;margin-left:6px}
.ibm-application #ibm-masthead .ibm-masthead-tools{text-align:right}.ibm-application #ibm-masthead .ibm-masthead-tools #ibm-geo{display:none}.ibm-application #ibm-masthead .ibm-masthead-tools #ibm-mast-options ul{background:transparent;margin-right:0;border:0;margin-top:6px}
.ibm-application #ibm-masthead .ibm-masthead-tools #ibm-mast-options li{border:0}.ibm-application #ibm-masthead .ibm-masthead-tools #ibm-mast-options li#ibm-sso a{display:inline;padding:0px}.ibm-application #ibm-masthead #ibm-mast-options a{font-weight:normal}
.ibm-application #ibm-masthead #ibm-universal-nav li a{font-size:1em;font-weight:300;line-height:1em}.ibm-application #ibm-masthead #ibm-common-menu h2,.ibm-application #ibm-masthead #ibm-common-menu h3{font-weight:bold}
.ibm-application #ibm-masthead #ibm-common-menu{background-color:#ddd;*background:none;background:-webkit-linear-gradient(#dddddd, #f1f1f1);background:-moz-linear-gradient(#dddddd, #f1f1f1);background:-o-linear-gradient(#dddddd, #f1f1f1);background:-ms-linear-gradient(#dddddd, #f1f1f1);background:linear-gradient(#dddddd, #f1f1f1);_background:none;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#dddddd',EndColorStr='#f1f1f1');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(StartColorStr='#dddddd',EndColorStr='#f1f1f1')";border-top:0;border-bottom-color:#d9d9d9;box-shadow:0px 1px 3px #EEEEEE, 0 -9px 7px -9px #BBBBBB inset, 0 9px 7px -8px #C5C5C5 inset;height:auto;overflow:hidden}
.ibm-application #ibm-masthead #ibm-common-menu .ibm-columns{padding-top:0;height:292px}.ibm-application #ibm-masthead #ibm-common-menu h3{color:#333;text-shadow:0 1px 0 #fff}.ibm-application #ibm-masthead #ibm-common-menu a{color:#666;text-shadow:none}
.ibm-application #ibm-masthead #ibm-common-menu a:hover{text-decoration:underline;color:#222}.ibm-application #ibm-masthead #ibm-common-menu a:active{text-decoration:underline;color:#666}.ibm-application #ibm-masthead #ibm-common-menu li{background:url(/i/v17/bullets-alt.gif) -2px 2px no-repeat transparent}
.ibm-application #ibm-masthead #ibm-common-menu li:hover,.ibm-application #ibm-masthead #ibm-common-menu li.ibm-active{background-position:-2px -98px}.ibm-application #ibm-masthead .ibm-mm-close span{background:url(/i/v17/buttons/mm-sprite-alt.gif) 0 4px no-repeat transparent}
.ibm-application #ibm-masthead .ibm-mm-close span:hover{background-position:0px -21px}.ibm-application #ibm-masthead .ibm-menu-subtabs{background-color:#ccc;*background:none;background:-webkit-linear-gradient(#cccccc, #ededed);background:-moz-linear-gradient(#cccccc, #ededed);background:-o-linear-gradient(#cccccc, #ededed);background:-ms-linear-gradient(#cccccc, #ededed);background:linear-gradient(#cccccc, #ededed);filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#CCCCCC',EndColorStr='#ededed');border-bottom:1px solid #b2b2b2;height:39px;float:left;width:100%}
.ibm-application #ibm-masthead .ibm-menu-subtabs h2{color:black;font-family:Arial, sans-serif;font-weight:normal;font-size:1.1em;text-shadow:0 1px 0 #fff;padding:9px 0 0 29px;float:left}.ibm-application #ibm-masthead .ibm-menu-subtabs ul{width:940px;margin:0 auto;padding:14px 10px 0;margin-bottom:-1px;font-size:0;letter-spacing:-1px;text-align:center}
.ibm-application #ibm-masthead .ibm-menu-subtabs ul li{margin:0 20px 0 0;background-image:none;display:inline-block;*display:inline;*zoom:1;padding:0 10px 11px 10px;font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal}
.ibm-application #ibm-masthead .ibm-menu-subtabs ul li a{color:#666;text-shadow:0 1px 0 #fff;text-decoration:none;font-family:Arial, sans-serif;font-size:1em}.ibm-application #ibm-masthead .ibm-menu-subtabs ul li a:hover,
.ibm-application #ibm-masthead .ibm-menu-subtabs ul li:hover{color:#222}.ibm-application #ibm-masthead .ibm-menu-subtabs ul li a:active{opacity:.5}.ibm-application #ibm-masthead .ibm-menu-subtabs ul li.ibm-active,
.ibm-application #ibm-masthead .ibm-menu-subtabs ul li.ibm-active a{background:url(/i/v17/buttons/mm-submenu-notch.gif) center -174px no-repeat transparent;font-weight:bold;color:#222}.ibm-application #ibm-masthead .ibm-menu-subtabs.ibm-active ul li.ibm-active,
.ibm-application #ibm-masthead .ibm-menu-subtabs.ibm-active ul li.ibm-active a{background-position:center 21px;font-weight:bold;color:#222}.ibm-application #ibm-masthead #ibm-common-menu .ibm-menu-dynamic{padding-top:20px}
.ibm-application #ibm-masthead #ibm-common-menu .ibm-menu-dynamic .ibm-col-6-1{width:140px}.ibm-application #ibm-pcon{padding-top:7px}.ibm-application #ibm-footer{background:-webkit-linear-gradient(#585B62, #1E1E20);background:-moz-linear-gradient(#585B62, #1E1E20);background:-o-linear-gradient(#585B62, #1E1E20);background:-ms-linear-gradient(#585B62, #1E1E20);background:linear-gradient(#585B62, #1E1E20);filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#585B62',EndColorStr='#1E1E20');padding-top:0;line-height:27px}
.ibm-application #ibm-footer ul{height:29px}.ibm-application #ibm-footer li{padding-bottom:0}.ibm-application #ibm-footer li a,.ibm-application #ibm-footer li a:link,.ibm-application #ibm-footer li a:visited{font-size:.9em;color:#BBBBBB;text-shadow:0px -1px 0 #000}.ibm-landing-page #ibm-content #ibm-merchandising-module{margin-top:20px;line-height:1.5em}#ibm-content #ibm-merchandising-module .ibm-container{width:auto;border-top:0}#ibm-content #ibm-merchandising-module .ibm-col-6-2 .ibm-container,
#ibm-content #ibm-merchandising-module .ibm-container.alternate,#ibm-content #ibm-merchandising-module .ibm-container.ibm-alternate{border-top:2px solid #cccccc}#ibm-merchandising-module .ibm-container h2,
#ibm-former-merchandising.ibm-container-body .ibm-columns h2,#ibm-former-merchandising .ibm-container-body .ibm-columns h2{color:#222}#ibm-merchandising-module .ibm-container img{padding-top:10px;float:left}
#ibm-merchandising-module .ibm-container .ibm-module-image,#ibm-former-merchandising .ibm-container-body .ibm-module-image{display:block;overflow:hidden;_zoom:1}#ibm-merchandising-module .ibm-container .ibm-module-image img,
#ibm-former-merchandising .ibm-container-body .ibm-module-image img{margin-bottom:0px}.ibm-col-6-2 #ibm-merchandising-module .ibm-portrait-module .ibm-module-image{overflow:visible;_float:left}.ibm-col-6-2 #ibm-merchandising-module .ibm-portrait-module img{margin-top:0px}
.ibm-col-6-2 #ibm-merchandising-module .ibm-container .ibm-module-text{display:inline-block;width:230px;_float:left;_zoom:1}.ibm-col-6-2 #ibm-merchandising-module .ibm-container .ibm-module-text ul{margin-left:0px}
#ibm-merchandising-module .ibm-container.ibm-alternate img{margin-left:0px}#ibm-merchandising-module .ibm-columns h3{color:#666}#ibm-content #ibm-merchandising-module ul.ibm-portrait-module-list h3,#ibm-content #ibm-merchandising-module ul.ibm-thumbnail-list h3{margin:-4px 0 2px 70px}
#ibm-merchandising-module .ibm-container p{line-height:1.3em;padding-top:0px}#ibm-merchandising-module .ibm-container p a,#ibm-former-merchandising.ibm-container p a,#ibm-former-merchandising.ibm-container-body p a{color:#666666;text-decoration:none}
#ibm-merchandising-module .ibm-container p a:hover,#ibm-former-merchandising.ibm-container p a:hover,#ibm-former-merchandising.ibm-container-body p a:hover{color:#222222}#ibm-merchandising-module p.ibm-ind-link a,
#ibm-former-merchandising p.ibm-ind-link a{color:#0c323c}#ibm-merchandising-module p.ibm-ind-link a:hover,#ibm-former-merchandising p.ibm-ind-link a:hover,#ibm-merchandising-module p.ibm-ind-link a:focus,
#ibm-former-merchandising p.ibm-ind-link a:focus{color:#003546}#ibm-merchandising-module p.ibm-ind-link a:active,#ibm-former-merchandising p.ibm-ind-link a:active,#ibm-merchandising-module ul.ibm-link-list a:active,
#ibm-former-merchandising ul.ibm-link-list a:active{color:#195568}#ibm-merchandising-module p.ibm-ind-link a:active .ibm-item-note,#ibm-former-merchandising p.ibm-ind-link a:active .ibm-item-note,#ibm-merchandising-module ul.ibm-link-list a:active .ibm-item-note,
#ibm-former-merchandising ul.ibm-link-list a:active .ibm-item-note{color:#666666}#ibm-merchandising-module ul.ibm-link-list li{border-top:0px none}#ibm-content #ibm-merchandising-module ul.ibm-portrait-module-list p.ibm-ind-link,
#ibm-content #ibm-merchandising-module ul.ibm-thumbnail-list p.ibm-ind-link{padding-top:10px !important}#ibm-merchandising-module ul.ibm-portrait-module-list li p,#ibm-merchandising-module ul.ibm-portrait-module-list li h2{margin-left:70px}
#ibm-merchandising-module ul.ibm-portrait-module-list img{padding-top:6px;padding-right:10px}#ibm-top #ibm-content-body #ibm-merchandising-module .ibm-container{margin-bottom:30px}